.calendar {
    font-family: sans-serif;
    display: inline-block;
    border: 2px solid #ccc;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.prev,
.next {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: #f1f1f1;
    transition: background-color 0.2s ease-in-out;
}

.prev:hover,
.next:hover {
    background-color: #e2e2e2;
}

.month {
    font-size: 30px;
    font-weight: bold;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #666666;
}

.weekday {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 5px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
}

.day.empty {
    visibility: hidden;
}

.day.weekend {
    color: #aaa;
}

.day:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.day.selected {
    background-color: #007bff;
    color: #fff;
}

.selected-date {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
}