
body{
  background-image: url("RouterPages/imgs/healthy-aldi-finds-coming-to-store-copy.jpg");
  background-size: 1540px;
}
.login {
  max-width: 400px;
  margin: 115px auto;
  padding: 25px;
  background-image: url("RouterPages/imgs/ASG_SER_MC_RGB.png");
  background-size: 450px;
}
.label {
  font-size: 20px;
  text-align: left;
  display: block;
  color: white;
  margin-left: 20px;

}
h2 {
  font-size: 30px;
  color: #FFB428;
  margin-bottom: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
