* {
  margin: 0;
  font-family: "Ariel";
  color: #333;
  box-sizing: border-box;
}
.navbar{
  /* display: flex; */
}
.navbar-top {
  background-image: linear-gradient(to right, #00B4DC , #4169B9, #001E78);
  padding: 20px;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  /* text-decoration: none; */

}
.nav-button{
  /* text-align: right; */
  /* display: block; */
}
.log-out {
  position: relative;
  left: 600px;
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  /* display: ;  */
  font-size: 16px;
  color: white;
  background-color: white;
  border-radius: 8px;
  border-color: orange;
  background-color: transparent;
}

.log-out:hover {
  background-color: orange; 
  color: white;
}

.navbar-top a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
}
.navbar-top a:hover {
  color: white;
}
.navbar-bottom{
  margin: 0;
  background-color: whitesmoke;
  padding: 15px;
  text-align: center;
  /* display: flex; */
  align-items: center;
  /* display: inline; */
  
}
.navbar-bottom .list {
  list-style-type: none;
  /* display: inline; */
  /* display: flex; */
  
}
.navbar-bottom .list .items{
  display: inline;
  justify-content: space-between;
  /* padding-left: 80px; */
  padding-right: 80px;
}
.donut-graphs {
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
  /* background-color: whitesmoke; */
}
.emp-header{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: whitesmoke;
}
.eRequest{
  text-align: center;
}
.grid-epto-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 30px;
}
.days-off{
  border-radius: 10px;
  /* border-color: black; */
  /* border-style: solid; */
  text-align: center;
  margin: 5px;
  padding: 20px;
  background-color: lightgray;
  /* display: block; */
}
.days-off-contents{
  display: inline;
  padding: 0 40px 0 20px;
  
}
.holiday-table{
  /* display: inline; */
}
.holidays{
  display: inline;
  padding: 20px;
}
.e-pending-requests{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  /* text-align: center; */
}
th, td {
  text-align: left;
  padding: 16px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}