* {
  margin: 0;
  font-family: "Ariel";
  /*color: #333;*/
  box-sizing: border-box;
}
.navbar-top {
  background-image: linear-gradient(to right, #00B4DC , #4169B9, #001E78);
  padding: 20px;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  /* text-decoration: none; */

}
.nav-button{
  /* text-align: right; */
  /* display: block; */
  float:right;
  margin-left: auto;
}
.navbar a{
  /* text-align: right; */
  color: #666666;
  position: center;
}
.navbar p{
  /* text-align: right; */
  /* display: block; */
  color: white;
  position: center;
}

.log-out{
  margin-right: -90%;
  color: #666666;
}
.log-out a{
  font-size: 100px;
}

.navbar-top a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: 20px;
  color: white;

}
.navbar-top a:hover {
  color: #001E78;
}
.navbar-bottom{
  margin: 0;
  background-color: #666666;
  padding: 5px;
  text-align: center;
  /* display: flex; */
  align-items: center;
  /* display: inline; */
  
}
.navbar-bottom .list {
  list-style-type: none;
  /* display: inline; */
  /* display: flex; */
  
}
.navbar-bottom .list .items{
  display: inline;
  justify-content: space-between;
  /* padding-left: 80px; */
  padding-right: 80px;
}
.donut-graphs {
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
  /* background-color: whitesmoke; */
}
.header-title{
  text-align: center;
  font-size: 48px;
  border-radius: 8px;
  /* background-color: ; */
}
.emp-balance-header{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: whitesmoke;
}
.emp-header{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: whitesmoke;
}
.eRequest{
  text-align: center;
}
.grid-epto-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 30px;
}
.days-off{
  border-radius: 10px;
  /* border-color: black; */
  /* border-style: solid; */
  text-align: center;
  margin: 5px;
  padding: 20px;
  background-color: lightgray;
  /* display: block; */
}
.days-off-contents{
  display: inline;
  padding: 0 40px 0 20px;
  
}
.holiday-table{
  /* display: inline; */
}
.holidays{
  display: inline;
  padding: 20px;
}
.e-pending-requests{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  /* text-align: center; */
}
th, td {
  padding: 20px;
  width: 400px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.request-form{
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: whitesmoke;
  /* justify-content: center;
  align-items: center; */
  
}
.request-table{
  margin-left: auto;
  margin-right: auto;
}
/* .request-calendar{
  justify-content: space-between;
  padding-left: 20px;
} */
.request-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 30px;


}
.custom-select{
  /* background-color: #001E78; */
  /* border-radius: 10px; */

}
.request-button{
  border-radius: 10px;
  font-size: 18px;
  /* border-width: 1px; */
}
textarea{
  /* width: auto; */
  /* height: 150px; */
  /* margin: 0 20%; */
  /* padding: 12px 20px; */
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.request-text{
  padding: 10px;
}
/**********************/
/*ADMIN STYLES*/
div.adminwelcome{
  background-color: #666666;
  font-size: 25px;
  margin: auto;
}
div.adminwelcome h3{
  position: center;
  padding-left: 45%;
}
div.calendarview{
  position: absolute;
  top: 65%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%)
}
div.sidebar a {
  text-decoration: none;
  color: white;
}
div.sidebar a:hover {
  color: #4169B9;
}
div.sidebar {
  position: fixed;
  top: 138px;
  left: 0;
  height: calc(100vh - 90px); /* set the height to the viewport height minus navbar height */
  width: 200px;
  background-color: grey;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.sidebar h2 {
  color: white;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 40px;
}

div.sidebar h4 {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 100px;
  margin-bottom: 10px;
}
/*****/
/********* Set Holiday Styles**/
div.HolidayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*****/
/********Left side**/
div.container1 {
  grid-column: 1;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

/**********/
/******Right Side**/


div.container2 {
  grid-column: 2;
  margin:5%;
}

/********/
/**** Requests Styles**/

.requests-table-header {
  width: 100%;
  border-collapse: collapse;
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 1;
}

.requests-table-header th {
  padding: 5px;
  margin:auto;
}

.requests-table-body-wrapper {
  height: 250px;
  overflow-y: scroll;
}

.requests-table-body {
  width: 100%;
  border-collapse: collapse;
}

.requests-table-body td {
  padding: 10px;
  border: 1px solid black;
}
/*******/
/** Holiday styles**/
.holidays-table-header {
  width: 100%;
  border-collapse: collapse;
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 1;
}

.holidays-table-header th {
  padding: 5px;
  margin:auto;
}

.holidays-table-body-wrapper {
  height: 250px;
  overflow-y: scroll;
}

.holidays-table-body {
  width: 100%;
  border-collapse: collapse;
}

.holidays-table-body td {
  padding: 10px;
  border: 1px solid black;
}

/************/
/***** Employee Styles */

.employee-table-header {
  width: 100%;
  border-collapse: collapse;
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 1;
}

.employee-table-header th {
  padding: 5px;
  margin:auto;
}

.employee-table-body-wrapper {
  height: 250px;
  overflow-y: scroll;
}

.employee-table-body {
  width: 100%;
  border-collapse: collapse;
}

.employee-table-body td {
  padding: 10px;
  border: 1px solid black;
}
tr:nth-child(even) {
  background-color: #cccccc;
}

/****/
/*** Searchbar*/
div.searchbar{
  float: right;
  padding:5px;
}
div.searchbar input{
  width:200px;
  height:30px;
}
textarea.reason-box{
  font-size: 6px;
}

/****************************/