.beginning{
    background-image: url("../imgs/healthy-aldi-finds-coming-to-store-copy.jpg");
    /*background-color: #00B4DC;*/
    background-size: 1540px;
    padding: 17px;
}
.login {
    max-width: 450px;
    margin-top: 124px;
    margin-left: 520px;
    margin-bottom: 149px;
    padding: 46px;
    background-color: #001E78;
    background-size: 450px;
    border: 2px;
    border-radius: 8px;
}
.label {
    font-size: 20px;
    text-align: left;
    display: block;
    color: white;
    margin-left: 20px;

}
.h2 {
    font-size: 30px;
    color: #FFB428;
    margin-bottom: 20px;
    text-align: center;
}
.input {
    text-align: center;
    width: 85%;
    padding: 6px 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.button {
    background: #C80000;
    color: #fff;
    border: 0;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.signup{
    color: orange;
    margin-left: 20px;
    padding-bottom: 40px;
}
a.signup:link{
    color: #dddddd;
}
/*Sigup page css*/
.beginning2{
    background-image: url("../imgs/healthy-aldi-finds-coming-to-store-copy.jpg");
    background-size: 1540px;
    padding: 17px;
}
.signu {
    max-width: 450px;
    /*margin: 115px auto;*/
    margin-top: 124px;
    margin-left: 520px;
    margin-bottom: 123px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    background-color: #001E78;
    background-size: 450px;
    border: 2px;
    border-radius: 8px;
}
.label2 {
    font-size: 15px;
    text-align: left;
    display: block;
    color: white;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;

}
.input2 {
    text-align: center;
    width: 85%;
    padding-left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin-left: 20px;*/
    margin-top: 0;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.h22 {
    font-size: 25px;
    color: #FFB428;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}
.login2 {
    max-width: 400px;
    margin: 115px auto;
    padding: 25px;
    background-image: url("../imgs/ASG_SER_MC_RGB.png");
    background-size: 450px;
}
.button2 {
    background: #C80000;
    color: #fff;
    border: 0;
    padding: 8px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 57px;
    border-radius: 8px;
    cursor: pointer;
}
.log-head{
    text-align: center;
    font-size: 40px;
    color: #FFB428;
}
.log-nav{
    background-color: #001E78;
    padding-top: 3px;
    padding-bottom: 3px;
}